# CyanogenMod
abi/
android/
art/
bionic/
bootable/
build/
cts/
dalvik/
developers/
development/
device/
docs/
external/
frameworks/
hardware/
kernel/
libcore/
libnativehelper/
ndk/
out/
packages/
pdk/
prebuilt/
prebuilts/
repo/
sdk/
system/
tools/
vendor/
Makefile

# Repo
.repo/manifests/
.repo/manifests.git/
.repo/project-objects/
.repo/projects/
.repo/repo
.repo/.repopickle_fetchtimes
.repo/manifest.xml
.repo/project.list


